[safe]
	directory = *
[http]
	proxy = http://127.0.0.1:20171
[core]
	editor=nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 1186454801@qq.com
